.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}
.register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.register form input {
    margin: 5px auto;
}
.register form p {
    margin:10px 15px;
    color: red;
}
.register a{
    text-decoration: none;
    color: blue;
}
.alert p{
    color: red;
    font-size: 26px;
    width: 100%!important;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 1.9;
    text-align:center;
  }